<app-main-nav>
    <mat-card class="cardd">

        <div class="df">

            <h1 class="h1">
                Project Ideas
            </h1>
        </div>

        <hr>

        <div class="pt10">


            <form>
                <input #search type="text" class="textbox" placeholder="Search">
                <input title="Search" value="GO" type="submit" class="button">
            </form>

        </div>
        <br>
        <table *ngIf="fyps">
            <tr>


                <th class="tablehead">
                    Project Idea
                </th>

                <th class="tablehead">
                    Project ID
                </th>

                <th class="tablehead">
                    Group member 1
                </th>

                <th class="tablehead">
                    Group member 2
                </th>

                <th class="tablehead">
                    Group member 3
                </th>

                <th class="tablehead">
                    ACTION </th>




            </tr>
            <tr *ngFor="let item of fyps">

                <td>
                    {{item.idea}}
                </td>


                <td>
                    {{item.docID}}
                </td>

                <td *ngFor="let ite of item.members">
                    {{ite.name}}
                </td>

                <td>
                    <button (click)="approveProj(item.docID)" mat-raised-button color="primary">APPROVE</button>
                </td>


            </tr>

        </table>

    </mat-card>
</app-main-nav>