<app-main-nav>
    <mat-card class="cardd">
    <h1 style="font-family:robboto;font-weight: bold;">
        Queries
    </h1>

    <div *ngIf="obtainedQuerries" style="padding: 10px;text-align: center;">

        <div 
            *ngFor="let item of obtainedQuerries">

            <table>
                <tr>
      
      
                    <th class="tablehead">
                        Query For
                    </th>
      
                    <th class="tablehead">
                        Query From
                    </th>
      
                    <th class="tablehead">
                        Document
                    </th>
      
                    <th class="tablehead">
                        Action
                    </th>
      
      
      
                </tr>
                <tr >
                    <td> {{item.queryFor}}</td>
                    <td> {{item.queryFrom}}</td>

                    <td><a href="{{item.file}}" target="_blank">
                        View document
                    </a></td>
                    <td>
                        <button  mat-raised-button color="primary">Approve</button>
                        <button  mat-raised-button color="warn">Reject</button>
                    </td>
                    
        
                </tr>
      
            </table>
           
            
        </div>

    </div>
</mat-card>
</app-main-nav>