<app-main-nav>
  <mat-card class="cardd">

      <div class="df">

          <h1 class="h1">
              Project Proposals
          </h1>
      </div>

      <hr>

      <div class="pt10">


          <form>
              <input #search type="text" class="textbox" placeholder="Search">
              <input title="Search" value="GO" type="submit" class="button">
          </form>

      </div>
      <br>
      <table>
          <tr>


              <th class="tablehead">
                  Project Title
              </th>

              <th class="tablehead">
                  Proposal
              </th>

              <th class="tablehead">
                  Group member 1
              </th>

              <th class="tablehead">
                  Group member 2
              </th>

              <th class="tablehead">
                  Group member 3
              </th>

              <th class="tablehead">
                  ACTION </th>




          </tr>


          <tr>

            <td>
                 Uploaded By Student At proposal submission
            
            </td>

            <td>
                Document Uploaded by student
            </td>
            <td>
                1
            </td>

            <td>
                2
            </td>
            <td>
              3
            </td>

            <td>
                <button  mat-raised-button color="primary">APPROVE</button>
            </td>


        </tr>
          

      </table>

  </mat-card>
</app-main-nav>