<app-main-nav>
    <mat-card class="cardd">
         <h1 style="font-family:robboto;font-weight: bold;">
            Queries
        </h1>
    <div style="padding: 10px;text-align: center; ">

        <div *ngIf="alldata">

        <table>
            <tr>

                <th class="tablehead">
                    Query For
                </th>
                <th class="tablehead">
                    Query From
                </th>

                <th class="tablehead">
                    Document
                </th>
                




            </tr>
            <tr *ngFor="let item of alldata">


                <td>
                    {{item.queryFor}}
                </td>

                <td> {{item.queryFrom}}</td>

                <td>
                    <a href="{{item.file}}" target="_blank" >
                        <button mat-raised-button color="primary">View Document</button>
                    </a>

                </td>


            </tr>

        </table>

        </div>

    </div>
    </mat-card>

</app-main-nav>

