<app-main-nav>
  <mat-card class="cardd">

      <div class="df">

          <h1 class="h1">
              Project Detail
          </h1>

          <button  mat-mini-fab>
            <mat-icon>home</mat-icon>
        </button>
      </div>

      <hr>

     
      <br>

    
       <h1 class="pt">UIIT Automation</h1>
       <div class="sname">
          <h4>Supervisor:</h4>
          <span>Dr. Kashif</span>
       </div>       
       <div class="eval">
          <div class="start">
            <h4>Proposal Evaluator 1:</h4>
            <span>Dr Saqib</span>
          </div>
          <div class="mid">
            <h4>Mid Evaluator 1:</h4>
            <span>Dr Saqib</span>
          </div>
          <div class="final">
            <h4>Final Evaluator 1:</h4>
            <span>Dr Saqib</span>
          </div>
       </div> 
       <div class="eval">
        <div class="start">
          <h4>Proposal Evaluator 2:</h4>
          <span>Dr Saqib</span>
        </div>
        <div class="mid">
          <h4>Mid Evaluator 2:</h4>
          <span>Dr Saqib</span>
        </div>
        <div class="final">
          <h4>Final Evaluator 2:</h4>
          <span>Dr Saqib</span>
        </div>
     </div> 
       
        
      
    
      <table>
        <thead>
          <tr>
              <th class="tablehead">
                  Group Members
              </th>

              <th class="tablehead">
                Proposal Marks
            </th>

              <th class="tablehead">
                 <div class="mt1">Presentation</div>
                 <table class="mt">
                  <th class="th1">
                    P1
                  </th>
                  <th class="th2">
                    P2
                  </th>
                  
                </table>
                
              </th>

              
              <th class="tablehead">
                <div class="mt1">Mid Marks</div>
                <table class="mt">
                 <th class="th1">
                   Evaluator 1
                 </th>
                 <th class="th2">
                  Evaluator 2
                 </th>
               </table>
             </th>
             <th class="tablehead">
              <div class="mt1">Final Marks</div>
              <table class="mt">
               <th class="th1">
                Evaluator 1
               </th>
               <th class="th2">
                Evaluator 2
               </th>
             </table>
              </th>

              <th class="tablehead">
                Total Marks
            </th>

            </tr>
        </thead>
        <tbody>
          <tr class="tr1">

            <td>
              Zunair Rashid
            
            </td>

            <td>
              7
            
            </td>

            <td class="table-padding">
                <table class="mt">
                  
                  <tr>
                    <td class="td1">1</td>
                    <td class="td2">2</td>
                  </tr>

                </table>
            </td>
            <td class="table-padding">
              <table class="mt">
                
                <tr>
                  <td>1</td>
                  <td>2</td>
                </tr>

              </table>
          </td>
          <td class="table-padding">
            <table class="mt">
              
              <tr>
                <td>1</td>
                <td>2</td>
              </tr>

            </table>
        </td>

        <td>
         39
        </td>

          </tr>
          <tr class="tr1">

            <td>
              Huzaifa
            
            </td>

            <td>
              6
            
            </td>
            <td class="table-padding">
              <table class="mt">
                
                <tr>
                  <td>1</td>
                  <td>2</td>
                </tr>

              </table>
          </td>
          <td class="table-padding">
            <table class="mt">
              
              
              <tr>
                <td>1</td>
                <td>2</td>
              </tr>

            </table>
        </td>
        <td class="table-padding">
          <table class="mt">
            
            <tr>
              <td>1</td>
              <td>2</td>
            </tr>

          </table>
        </td>

        <td>
          40
        
        </td>

          </tr>
          
        </tbody>
      </table>
      


  </mat-card>
</app-main-nav>