<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img class="logo" src="../../assets/logo.png" alt="">
    </mat-toolbar>
    <mat-nav-list class="items">
      <h3 class="mukta">
        UIIT Automation
      </h3>



      <div *ngIf="user && user=='Admin'" class="lists">
        <p class="active" *ngIf="cuurentPage == '/admin-dashboard'" (click)="gotopage('admin-dashboard')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          DASHBOARD
        </p>

        <p mat-list-item>
          <mat-icon class="i" matPrefix>computer</mat-icon>
          Final Year Project
        </p>


        <p (click)="gotopage('query-management')" mat-list-item>


          <mat-icon class="i" matPrefix>contact_support</mat-icon>
          Student Queries
        </p>

      </div>

      <div *ngIf="user && user=='Coordinator'" class="lists">
        <p mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Final Year Projects
        </p>

        <p mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Supervisors
        </p>

        <p mat-list-item>
          <mat-icon class="i" matPrefix>person</mat-icon>
          Evaluators
        </p>

      </div>


      <div *ngIf="user && user=='Supervisor'" class="lists">
        <p (click)="gotopage('supervisor-dashboard')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Project Ideas
        </p>

        <p (click)="gotopage('project-proposals')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Project Proposals
        </p>

        <p (click)="gotopage('supervision-groups')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Supervision Groups
        </p>

      </div>

      <div *ngIf="user && user=='Evaluator'" class="lists">
        <p (click)="gotopage('evaluator-dashboard')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Evaluation Groups
        </p>


      </div>
      <!--class="active" *ngIf="cuurentPage == '/student-dashboard'"-->

      <div *ngIf="user && user=='Staff'" class="lists">
        <p (click)="gotopage('staff-dashboard')" class="active" *ngIf="cuurentPage == '/staff-dashboard'" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Dashboard
        </p>

        <p class="active" *ngIf="cuurentPage != '/staff-dashboard'" mat-list-item>
          <mat-icon (click)="gotopage('staff-dashboard')" class="i" matPrefix>dashboard</mat-icon>
          Dashboard
        </p>

        <p mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Certificate
        </p>

        <p mat-list-item>
          <mat-icon class="i" matPrefix>person</mat-icon>
          Letters
        </p>

      </div>

      <div *ngIf="user && user=='Student'" class="lists">
        <p class="active" *ngIf="cuurentPage == '/student-dashboard'" mat-list-item>
          <mat-icon class="i" matPrefix>computer</mat-icon>
          Final Year Project
        </p>

        <p *ngIf="cuurentPage != '/student-dashboard'" mat-list-item>
          <mat-icon class="i" matPrefix>computer</mat-icon>
          Final Year Project
        </p>

        <p (click)="gotopage('student-dashboard')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Group Formation
        </p>

        <p (click)="gotopage('student-proposal')" mat-list-item>
          <mat-icon class="i" matPrefix>dashboard</mat-icon>
          Add Proposal
        </p>

        <p (click)="gotopage('student-querries')" mat-list-item>
          <mat-icon class="i" matPrefix>contact_support</mat-icon>
          Student Queries
        </p>

      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="none">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="alignright">
        <img class="avatar" src="../../assets/userava.png" alt="">

      </span>
      <div class="end">
        <mat-icon *ngIf="!list" (click)="showHideList()" style="color: white;" matPrefix>
          arrow_drop_down
        </mat-icon>

        <mat-icon *ngIf="list" (click)="showHideList()" style="color: white;" matPrefix>
          keyboard_arrow_up
        </mat-icon>

      </div>
    </mat-toolbar>

    <mat-selection-list id="areaListControl" name="areaListControl" (selectionChange)="onChange($event)" *ngIf="list"
      class="list" [multiple]="false">
      <mat-list-option [selected]="shoe.selected" [value]="shoe" *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>



    <ng-content>

    </ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>