//fonts

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

.noto {
    font-family: "Noto Sans JP", sans-serif;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.field {
    width: 90%;
}
.logo {
    height: 8em;
    object-fit: contain;
}
h1 {
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
.btn {
    margin-top: 20px;
    width: 90%;
    font-family: "Mukta", sans-serif;
}
.closeicon {
    position: relative;
    left: 50%;
}
mat-icon:hover {
    cursor: pointer;
}
