<app-main-nav>

  
    <mat-card class="cardd">
  
      <div class="df">
  
          <h1 class="h1">
               Projects 
          </h1>
      </div>
  
      <hr>
  
      <div class="pt10">
  
         
          <form>
              <input #search type="text" class="textbox" placeholder="Search">
              <input  title="Search" value="GO" type="submit" class="button">
          </form>
  
      </div>
    <br>
      <table>
          <tr>
  
  
  
              <th class="tablehead">
                  Project Title
              </th>
              
                <th class="tablehead">
                Proposal
                </th>
  
              <th class="tablehead">
                  Member 1
              </th>

              
              <th class="tablehead">
                Member 2
            </th>
            
            <th class="tablehead">
                Member 3
            </th>
  
              <th class="tablehead">
                Supervisor Name
            </th>
  
              <th class="tablehead">
                  Action
              </th>
  
  
  
          </tr>
          <tr class="tr1">
              <td>UIIT Automation</td>
              <td>Document</td>
              <td>Zunair</td>
              <td>Huzaifa</td>
              <td></td>
              <td>Dr. Kashif</td>
              <td>
                <a routerLink="/project-detail">
                    <button  mat-raised-button color="primary"> View Project</button>
                </a>
                <a routerLink="/assign-evaluators">
                    <button style="margin-left: 5px;"  mat-raised-button color="accent">Evaluators</button>
                </a>
              </td>
              
          </tr>
  
      </table>
  
  </mat-card>
  
  
</app-main-nav>