.main {
    padding: 20px;
    position: absolute;
    top: 10%;
}

.card {
   
    position: relative;
    border:1px solid rgb(194, 11, 118)
}
.center{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
.flex{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.select{
    width: 25em;
}