<app-main-nav>
 <mat-card class="box1">
    <h1>

        Proposal Submission

    </h1>

 </mat-card>
 <mat-card class="box2">
            <h1>
    
                Proposal 
    
            </h1>
            
            <h3>Attach Proposal Document </h3>
            
<div class= "i">
                <input (change)="selectFile($event)" type="file">
            </div>
                <div class="spacing2">

                </div>
    
            <button (click)="submit()" mat-raised-button color="warn">Submit PROPOSAL</button>
 
        </mat-card>
</app-main-nav>