<app-main-nav>
    <div *ngIf="currentDiv=='Dashboard'" class="body">

        <mat-card class="card">
            <div class="cardheader">
                Manage Admins
            </div>
            <img src="https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGFkbWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="manage('Admin')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    MANAGE
                </button>
            </div>

        </mat-card>

        <mat-card class="card">
            <div class="cardheader">
                Manage Co-ordinators
            </div>
            <img src="../../assets/coodinator.png" alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="manage('Co-ordinator')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    MANAGE
                </button>
            </div>

        </mat-card>

        <mat-card class="card">
            <div class="cardheader">
                Manage Supervisors
            </div>
            <img src="../../assets/supervisor.png" alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="manage('Supervisor')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    MANAGE
                </button>
            </div>

        </mat-card>

        <mat-card class="card">
            <div class="cardheader">
                Manage Evaluators
            </div>
            <img src="../../assets/evaluators.jpg" alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="manage('Evaluator')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    MANAGE
                </button>
            </div>

        </mat-card>

        <mat-card class="card">
            <div class="cardheader">
                Manage Staff
            </div>
            <img src="../../assets/staff.jpg" alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="manage('Staff')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    MANAGE
                </button>
            </div>

        </mat-card>

        <mat-card class="card">
            <div class="cardheader">
                Manage Students
            </div>
            <img src="../../assets/students.png" alt="">

            <div style="margin-top: 15px;text-align: center;justify-content: center;display: flex;">
                <button (click)="manage('Student')" style="width: 50%;font-family: Open-Sans;" mat-flat-button
                    color="primary">
                    MANAGE
                </button>
            </div>

        </mat-card>



    </div>


    <div class="adminpage" *ngIf="currentDiv=='Admin'">


        <mat-card class="cardd">

            <div class="df">

                <h1 class="h1">
                    {{currentDiv}} Details
                </h1>

                <button (click)="manage('Dashboard')" mat-mini-fab>
                    <mat-icon>home</mat-icon>
                </button>

            </div>

            <hr>

            <div class="pt10">

                <button (click)="openDialog('Admin')" color="accent" mat-flat-button>
                    <mat-icon>add_circle</mat-icon>
                    ADD NEW
                </button>

                <form>
                    <input #search type="text" class="textbox" placeholder="Search">
                    <input (click)="formtest()" title="Search" value="GO" type="submit" class="button">
                </form>

            </div>

            <table>
                <tr>


                    <th class="tablehead">
                        NAME
                    </th>

                    <th class="tablehead">
                        EMAIL
                    </th>

                    <th class="tablehead">
                        Phone
                    </th>

                    <th class="tablehead">
                        Created At
                    </th>

                    <th class="tablehead">
                        Year
                    </th>

                    <th class="tablehead">
                        Operation
                    </th>



                </tr>
                <tr *ngFor="let item of admins">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.year}}</td>
                    <td style="text-align: center;">
                        <button color="warn" (click)="deleteuser(item.userID)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>

            </table>

        </mat-card>
    </div>

    <div class="adminpage" *ngIf="currentDiv=='Co-ordinator'">


        <mat-card class="cardd">

            <div class="df">

                <h1 class="h1">
                    {{currentDiv}} Details
                </h1>

                <button (click)="manage('Dashboard')" mat-mini-fab>
                    <mat-icon>home</mat-icon>
                </button>

            </div>

            <hr>

            <div class="pt10">

                <button (click)="openDialog('Co-ordinator')" color="accent" mat-flat-button>
                    <mat-icon>add_circle</mat-icon>
                    ADD NEW
                </button>

                <form>
                    <input #search type="text" class="textbox" placeholder="Search">
                    <input (click)="formtest()" title="Search" value="GO" type="submit" class="button">
                </form>

            </div>

            <table>
                <tr>


                    <th class="tablehead">
                        NAME
                    </th>

                    <th class="tablehead">
                        EMAIL
                    </th>

                    <th class="tablehead">
                        Phone
                    </th>

                    <th class="tablehead">
                        Created At
                    </th>

                    <th class="tablehead">
                        Year
                    </th>

                    <th class="tablehead">
                        Operation
                    </th>



                </tr>
                <tr *ngFor="let item of cordinators">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.year}}</td>
                    <td style="text-align: center;">
                        <button color="warn" (click)="deleteuser(item.userID)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>

            </table>

        </mat-card>
    </div>

    <div class="adminpage" *ngIf="currentDiv=='Staff'">


        <mat-card class="cardd">

            <div class="df">

                <h1 class="h1">
                    {{currentDiv}} Details
                </h1>

                <button (click)="manage('Staff')" mat-mini-fab>
                    <mat-icon>home</mat-icon>
                </button>

            </div>

            <hr>

            <div class="pt10">

                <button (click)="openDialog('Admin')" color="accent" mat-flat-button>
                    <mat-icon>add_circle</mat-icon>
                    ADD NEW
                </button>

                <form>
                    <input #search type="text" class="textbox" placeholder="Search">
                    <input (click)="formtest()" title="Search" value="GO" type="submit" class="button">
                </form>

            </div>

            <table>
                <tr>


                    <th class="tablehead">
                        NAME
                    </th>

                    <th class="tablehead">
                        EMAIL
                    </th>

                    <th class="tablehead">
                        Phone
                    </th>

                    <th class="tablehead">
                        Created At
                    </th>

                    <th class="tablehead">
                        Year
                    </th>

                    <th class="tablehead">
                        Operation
                    </th>



                </tr>
                <tr *ngFor="let item of staffs">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.year}}</td>
                    <td style="text-align: center;">
                        <button color="warn" (click)="deleteuser(item.userID)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>

            </table>

        </mat-card>
    </div>

    <div class="adminpage" *ngIf="currentDiv=='Supervisor'">


        <mat-card class="cardd">

            <div class="df">

                <h1 class="h1">
                    {{currentDiv}} Details
                </h1>

                <button (click)="manage('Dashboard')" mat-mini-fab>
                    <mat-icon>home</mat-icon>
                </button>

            </div>

            <hr>

            <div class="pt10">

                <button (click)="openDialog('Supervisor')" color="accent" mat-flat-button>
                    <mat-icon>add_circle</mat-icon>
                    ADD NEW
                </button>

                <form>
                    <input #search type="text" class="textbox" placeholder="Search">
                    <input (click)="formtest()" title="Search" value="GO" type="submit" class="button">
                </form>

            </div>

            <table>
                <tr>


                    <th class="tablehead">
                        NAME
                    </th>

                    <th class="tablehead">
                        EMAIL
                    </th>

                    <th class="tablehead">
                        Phone
                    </th>

                    <th class="tablehead">
                        Created At
                    </th>

                    <th class="tablehead">
                        Year
                    </th>

                    <th class="tablehead">
                        Operation
                    </th>



                </tr>
                <tr *ngFor="let item of supervisors">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.year}}</td>
                    <td style="text-align: center;">
                        <button color="warn" (click)="deleteuser(item.userID)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>

            </table>

        </mat-card>
    </div>

    <div class="adminpage" *ngIf="currentDiv=='Evaluator'">


        <mat-card class="cardd">

            <div class="df">

                <h1 class="h1">
                    {{currentDiv}} Details
                </h1>

                <button (click)="manage('Dashboard')" mat-mini-fab>
                    <mat-icon>home</mat-icon>
                </button>

            </div>

            <hr>

            <div class="pt10">

                <button (click)="openDialog('Evaluator')" color="accent" mat-flat-button>
                    <mat-icon>add_circle</mat-icon>
                    ADD NEW
                </button>

                <form>
                    <input #search type="text" class="textbox" placeholder="Search">
                    <input (click)="formtest()" title="Search" value="GO" type="submit" class="button">
                </form>

            </div>

            <table>
                <tr>


                    <th class="tablehead">
                        NAME
                    </th>

                    <th class="tablehead">
                        EMAIL
                    </th>

                    <th class="tablehead">
                        Phone
                    </th>

                    <th class="tablehead">
                        Created At
                    </th>

                    <th class="tablehead">
                        Year
                    </th>

                    <th class="tablehead">
                        Operation
                    </th>



                </tr>
                <tr *ngFor="let item of evaluators">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.year}}</td>
                    <td style="text-align: center;">
                        <button color="warn" (click)="deleteuser(item.userID)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>

            </table>

        </mat-card>
    </div>

    <div class="adminpage" *ngIf="currentDiv=='Student'">


        <mat-card class="cardd">

            <div class="df">

                <h1 class="h1">
                    {{currentDiv}} Details
                </h1>

                <button (click)="manage('Dashboard')" mat-mini-fab>
                    <mat-icon>home</mat-icon>
                </button>

            </div>

            <hr>

            <div class="pt10">

                <button (click)="openDialog('Student')" color="accent" mat-flat-button>
                    <mat-icon>add_circle</mat-icon>
                    ADD NEW
                </button>

                <form>
                    <input #search type="text" class="textbox" placeholder="Search">
                    <input (click)="formtest()" title="Search" value="GO" type="submit" class="button">
                </form>

            </div>

            <table>
                <tr>


                    <th class="tablehead">
                        NAME
                    </th>

                    <th class="tablehead">
                        EMAIL
                    </th>

                    <th class="tablehead">
                        Phone
                    </th>

                    <th class="tablehead">
                        Created At
                    </th>

                    <th class="tablehead">
                        Registration No
                    </th>

                    <th class="tablehead">
                        Shift
                    </th>

                    <th class="tablehead">
                        Year
                    </th>

                    <th class="tablehead">
                        Operation
                    </th>



                </tr>
                <tr *ngFor="let item of students">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.regNo}}</td>
                    <td>{{item.shift}}</td>
                    <td>{{item.year}}</td>
                    <td style="text-align: center;">
                        <button color="warn" (click)="deleteuser(item.userID)" mat-mini-fab>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>

            </table>

        </mat-card>
    </div>

</app-main-nav>